<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h1>halla man</h1>

    <div id="app"> 
        <h2>{{ title }}</h2>
        <ul>
            <li 
                v-for="item in test"
                class=""
            >{{ item }}</li>
        </ul>
        <input type="text" v-model="inputText">
        <h3>{{ inputText }}</h3>
    </div>
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script>
    var app = new Vue({
        el: '#app',
        data: {
            title: 'Hola Mundo',
            test: ['jerry','george','elain'],
            inputText: "heihei"
        }
    })


</script>
<style>
    body{
        background: #ddf;
    }
</style>
</body>
</html>